# Generated artifacts
checkpoints/
generated/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/
.eggs/

# WandB
.wandb/
wandb/

# Jupyter
.ipynb_checkpoints/

# Environment
.env
.venv/
venv/

# Editor
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
